#<species>	<data_file>
#hg19	/home/galaxy/tooldep/genome_diversity/oscar/hsa_ENSEMBLcKEGGctpthw.tsv
#bosTau4	/home/galaxy/tooldep/genome_diversity/oscar/bta_ENSEMBLcKEGGctpthw.tsv
#canFam2	/home/galaxy/tooldep/genome_diversity/oscar/cfa_ENSEMBLcKEGGctpthw.tsv
